* {
    background-color: #222327;
}

body {
    /* font-family: JetBrains Mono, system-ui, sans-serif; */
    font-family: monospace;
    font-size: 1.2em;
}

j {
	font-size: 2em;
}

li{
    position: relative;
    cursor: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    filter: blur(5px);
}

i:hover{
    filter: blur(0px);
    transition: 1s;
    margin-bottom: 2px;
}

#contacts,
#ip,
p {
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts:hover {
    color: lightgreen;
}

note {
    opacity: 0.7;
}

note:hover {
    border-bottom: 1px solid whitesmoke;
}

.about_media {
    /* color: aqua; */
    color: white;
    margin-top: 75px;
    margin-bottom: 25px;
}

span {
    margin: 10px;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}

video, 
img { 
    width: 300px; 
    height: 180px; 
    margin: auto; 
} 

/*
video, img {
	width: 30%;
	height: auto;
} 
*/

.about {
    /* color: aqua; */
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .blog_container {
    color: rgb(15, 235, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.blog{
    border: 1px solid yellow;
    margin-bottom: 15px;
} */
.search,
input {
    color: aliceblue;
}

main {
    margin-top: 20px;
}

article {
    color: #fff;
    line-height: 1.4;
    margin-bottom: 80px;

}

h4 {
    font-size: 1em;
    font-weight: 600;
    margin: 1.6em 0 .6em 0;
}

time {
    margin-left: .6em;
    font-size: .8em;
    font-weight: 400;
    opacity: .7;
}

pre,
textarea,
input {
    font-size: 1em;
    color: inherit;
    line-height: inherit;
    padding: .6em .9em;
    margin: .8em 0 1em 0;
    position: relative;
    display: block;
    width: 100%;
    white-space: pre;
    border: 0;
    border-radius: 4px;
    background: rgba(121, 40, 112, 0.589);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .2), inset -1px -1px 0 rgba(0, 0, 0, .04);
}

code,
textarea {
    font-family: JetBrains Mono, monospace;
    /* background-color: rgba(24, 19, 19, 0.507); */
    background-color: #191970;
    font-size: 0.8em;
    color: #00FF00;
    opacity: 30;
    padding: 5px;
}

svg,
foreignObject {
    margin: auto;
}

/* @keyframes blog {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
} */

.hdmtp {
    color: rgb(251, 255, 0);
    animation: animate 1s steps(1) infinite;
    font-size: larger;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Brush Script MT', cursive;
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* #media1 {
    margin-top: 150px;
}

#media2 {
    margin-top: 50px;
    margin-bottom: 50px;
} */

.mw2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    border: 1px solid yellow;
}

#clock {
    font-size: 17px;
    text-align: center;
    border: 2px solid rgb(155, 130, 130);
    border-radius: 20px;
    /* color: aqua; */
    color: #fff;
}

footer {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

header {
    color: rgb(148, 247, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

header:hover {
    color: red;
    transition: 3s;
}

#figcaption {
	margin: 0.8em 0 0 0;
	opacity: .7;
}
